<!DOCTYPE html>
<html>
<head>
  <title>Ledger</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

<div class = "container">    
    <h1>Ledger</h1>
    <p class = "subtitle">Understand your spending. Take control of your money.</p>

    <form method="POST" enctype="multipart/form-data" class = "upload-box">
        <input type="file" name="file">
        <button type="submit">Upload</button>
    </form>

    {% if transactions %}
        <h2>Transactions</h2>
        <table border="1">
            {% for row in transactions %}
                <tr>
                    {% for item in row %}
                        <td>{{ item }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if insights %}
        <h2>Insights</h2>
        <ul class = "insights">
            {% for insight in insights %}
                <li>{{ insight }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if category_totals %}
        <h2>Spending Breakdown</h2>
        <div class = "chart-container">    
            <canvas id="spendingChart"></canvas>
        </div>
    {% endif %}

</div>

<script>
  const data = {{ category_totals | tojson }};

  const labels = Object.keys(data);
  const values = Object.values(data);

  const ctx = document.getElementById('spendingChart').getContext('2d');

  new Chart(ctx, {
    type: 'pie',
    data: {
      labels: labels,
      datasets: [{
        data: values,
        backgroundColor: [
            "#60a5fa",
            "#34d399",
            "#fbbf24",
            "#f87171",
            "#a78bfa"
        ]
      }]
    },
    options: {
      responsive: true,
      plugins: {
        legend: {
          position: 'bottom'
        }
      }
    }
  });
</script>

</body>
</html>