<!DOCTYPE html>
<html>
<head>
  <title>Ledger</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class = "container">    
    <h1>Ledger</h1>
    <p class = "subtitle">Understand your spending. Take control of your money.</p>

    <form method="POST" enctype="multipart/form-data" class = "upload-box">
        <input type="file" name="file">
        <button type="submit">Upload</button>
    </form>

    {% if transactions %}
        <h2>Transactions</h2>
        <table border="1">
            {% for row in transactions %}
                <tr>
                    {% for item in row %}
                        <td>{{ item }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if insights %}
        <h2>Insights</h2>
        <ul class = "insights">
            {% for insight in insights %}
                <li>{{ insight }}</li>
            {% endfor %}
        </ul>
    {% endif %}

</div>

</body>
</html>